.Tweets {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  &--fullscreen {
    cursor: none;
  }

  &__loading {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.Tweet {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  visibility: hidden;

  &--current {
    visibility: visible;

    .Tweet__Info {
      opacity: 1;
      animation: slideDown;
      animation-duration: 1s;
      animation-delay: 5s;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }

  &__Info {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: rgba(#111, 0.7);
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: normal;
    padding: 1.8rem;
    color: white;
}

  &__Logo {
    width: 3rem;
    margin-right: 1.8rem;
  }

  &__Text {}

  &__Image,
  &__Video {
    width: 100vw;
    height: 100vh;
  }

  &__Image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__Video {
    video {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
}



@keyframes slideDown {
  from {bottom: 0;}
  to {bottom: -20rem;}
}