.Index {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  &__loading {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.Tweet {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  visibility: hidden;

  &--current {
    visibility: visible;

    .Tweet__Info {
      opacity: 1;
      animation: fadeOut;
      animation-duration: 2s;
      animation-delay: 10s;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }

  &__Info {
    display: flex;
    align-items: flex-start;
    position: absolute;
    z-index: 1;
    bottom: 4vw;
    left: 30vw;
    width: 40vw;
    background: rgba(#111, 0.9);
    color: #111;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: normal;
    padding: 1.8rem;
    border-radius: 1rem;
    color: white;
  }

  &__Logo {
    width: 3rem;
    margin-right: 1.8rem;
  }

  &__Image {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}